@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  scroll-behavior: smooth !important;
}
body {
  background: black !important;
}
.bg-hero {
  background-image: url("../src/Assets/img.webp/hero_bg.webp");
  background-size: cover !important;
}
.whats_bg {
  background-image: url("../src/Assets/What-bggg.gif");
  background-size: cover !important;
}
.scroll_bg {
  background-image: url("../src/Assets/img.webp/scroll_bg.webp");
  background-size: cover !important;
}
.footer_bg {
  background-image: url("../src/Assets/img.webp/ft-bg.webp");
  background-size: cover !important;
}
.bg_hexa {
  background-image: url("../src/Assets/img.webp/hexagonn.webp");
  background-size: 100% 100% !important;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .bg-hero {
    background-size: 100% 100% !important;
  }
  .scroll_bg {
    background-size: 100% 100% !important;
  }
  .footer_bg {
    background-size: 100% 100% !important;
  }
  .whats_bg {
    background-size: 100% 100% !important;
  }
}
