@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "'Neuropolitical', sans-serif";

  src: url("../src/Myfont/neuropolitical/neuropolitical\ rg.otf");
}
@font-face {
  font-family: "'Recharge', sans-serif";
  src: url("../src/Myfont/recharge/recharge\ bd.otf");
}

.ff-recharge {
  font-family: "'Recharge', sans-serif";
}
.ff-neuo {
  font-family: "'Recharge', sans-serif";
}
